.infoList{
    list-style-type: none;
    padding-left: 0px;
}

.infoList li{
    align-items: left;
}

.infoListContainer{
    align-items: center;
}

.icon-circle{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: #ffc800;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.icon-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    display: inline-block;
    top: 50%;
}